include orders-category-head.pug

mixin orders-box__headings

  .orders-box__headings
    +orders-category-head
    +orders-category-head
    +orders-category-head
    +orders-category-head
    +orders-category-head("done")
    +orders-category-head("rejected")